ul {
  padding-left: 0;

}

.nav-bar {
  box-sizing: border-box;
  display: flex;
  width: 80%;
  height: 10vh;
  background-color: blueviolet;
  align-items: center;
  padding: 0em 1em;
  column-gap: 3em;

  a {
    color: white
  }

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 50%;
    align-items: center;
  }
}

.nav-bar-avatar {
  display: flex;
  color: white;
  width: 50%;
  align-items: center;
  column-gap: 1em;

  img {
    width: 2em;
    height: 2em;
    border-radius: 50%;
  }

  div {
    width: 10%;
  }
}

.logout {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  column-gap: 1em;
}

.hp-title {
  display: flex;
  column-gap: 2em;

  p {
    cursor: pointer;
  }
}

.q-card-p {
  padding: 1em;
  border: 3px black solid;
  border-radius: 5px;
  margin-bottom: 1em;
}

.q-card {
  display: flex;
  margin-top: 1em;
  column-gap: 2em;

  img {
    width: 2em;
    height: 2em;
  }
}

input {
  display: block;
}

button {
  display: block;
}

.bar-empty {
  width: 100%;
  background-color: gainsboro;
  height: 2em;
}

.bar-filled {
  background-color: blueviolet;
  height: 2em;
  color: white;
}

.chosen {
  border: 1px blueviolet solid
}